# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# EXPRESS
EXPRESS_PORT=3000
EXPRESS_DOCKER_PORT=7779
BULL_DASHBOARD_ROUTE=/admin/queues

# LOGGING
LOG_LOCATION=logs/runtime-%DATE%.log # %DATE% Converts to YYYYMMDD
LOG_CONSOLE_LEVEL='unit'
LOG_FILE_LEVEL='unit'
LOG_ROTATE_PERIOD=30d
LOG_DEBUG_MODE=false

# TRIGGERS
